.frontpage {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-flow: column wrap;
  margin: 0 auto;
}

.frontpage > div {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

#header {
  width: 100%;
  background-color: teal;
  color: white;
  font-size: 42px;
  padding: 20% 10% 20% 10%;
}

html {
  scroll-behavior: smooth !important;
}

button {
  font-size: 16px;
  padding: 14px 40px;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
