.frontpage {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  margin: auto;
}

.gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

#box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3em;
}

.frontpage > div {
  text-align: center;
}

/* FOR PHONE AND PORTRAIT*/
@media (max-width: 375px) and (orientation: portrait) {
  @supports (display: flex) {
    .frontpage {
      flex-direction: column;
    }
    h1 {
      font-size: 60px;
      padding-top: 120px;
      padding-bottom: 120px;
      margin: 20px;
    }
    #header {
      margin: 0 auto;
      height: 100vh;
      width: 100vw;
    }
    #buttons_interaction {
      flex-direction: column;
    }
  }
}

/* FOR PHONE AND LANDSCAPE*/
@media (max-width: 812px) and (orientation: landscape) {
  @supports (display: flex) {
    .frontpage {
      flex-direction: column;
    }
    h1 {
      font-size: 52px;
    }

    #header {
      margin: 0 auto;
      height: 50vh;
      width: 70vw;
    }
    #buttons_interaction {
      flex-direction: column;
    }
  }
}

/*FOR PAD AND PORTRAIT*/
@media screen, (min-width: 1366px) and (orientation: portrait) {
  @supports (display: flex) {
    .frontpage {
      flex-direction: column;
    }
    h1 {
      font-size: 94px;
      padding-top: 160px;
      padding-bottom: 160px;
      margin: 20px;
    }
    #header {
      height: 100vh;
      width: 100vw;
    }
    #buttons_interaction {
      flex-direction: column;
    }

    #gallery_button {
      font-size: 62px;
    }
  }
}

/*FOR PAD AND PORTRAIT*/

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

#header {
  width: 100%;
  background-color: teal;
  color: white;
  font-size: 42px;
  padding: 18% 5% 18% 5%;
}

html {
  scroll-behavior: smooth !important;
}

button {
  font-size: 16px;
  padding: 14px 40px;
  margin: 10px;
}

.Buttons {
  flex-grow: 4;
}
