.App {
  text-align: center;
}

.frontpage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-flow: column wrap;
  margin: 0 auto;
  padding: 10%;
}

button {
  font-size: 16px;
  padding: 14px 40px;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
